body {
    background: #ddd url(../images/egg_shell.jpg) repeat top left;
    padding-top: 60px;
}

.word-form {
    top: 0;
    left: 0;
    width: 150px;
    background: #fff;
    height: 50px;
    line-height: 50px;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    background-image: url(../images/fabric.png);
    list-style: none;
    margin-bottom: 30px;
    margin-left: 30px;
    vertical-align: middle;

    -webkit-transform-origin: 25% 90%;
    -moz-transform-origin: 25% 90%;
    -o-transform-origin: 25% 90%;
    -ms-transform-origin: 25% 90%;
    transform-origin: 25% 90%;

    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;

    background-color: #87b11d;
    box-shadow: -1px -1px 3px rgba(0,0,0,0.1), 1px 1px 1px rgba(0,0,0,0.1);

    color: white;
    font-weight: bold;
    font-size: 18px;

    -webkit-tap-highlight-color: rgba(0,0,0,0);
}